@model WebApplicationMVC.Models.ServiceModel

@{
    ViewData["Title"] = "Editer Service";
}

<h2>Edition du service  "<em>@Model.nom</em>"</h2>

<form asp-action="Edit">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

    <div class="form-group mb-4">
        <label asp-for="id" class="control-label">ID</label>
        <input asp-for="id" class="form-control" readonly />
        <span asp-validation-for="id" class="text-danger"></span>
    </div>

    <div class="form-group mb-4">
        <label asp-for="nom" class="control-label">Nom</label>
        <input asp-for="nom" class="form-control" />
        <span asp-validation-for="nom" class="text-danger"></span>
    </div>

    <div class="form-group mb-3">
        <label asp-for="description" class="control-label">Description</label>
        <textarea asp-for="description" class="form-control" rows="4"></textarea>
        <span asp-validation-for="description" class="text-danger"></span>
    </div>

    <div class="form-group d-flex justify-content-end">
        <button type="submit" class="btn btn-primary">Enregistrer les modifications</button>
    </div>
</form>

<div class="fs-5">
    <a class="d-inline-flex align-items-center gap-1" asp-action="Index">
        <svg width="20" height="20" fill="none" stroke="#2e4b6e" stroke-linecap="round" stroke-linejoin="round" stroke-width="2.5" viewBox="0 0 24 24">
            <path d="M5 9h11a4 4 0 1 1 0 8h-1"></path>
            <path d="M9 13 5 9l4-4"></path>
        </svg>
        Retour à la liste des services
        </a>
</div>
