
@{
    ViewData["Title"] = "Accueil";
}


<div style="font-family:Verdana; line-height: 2; color:#1e3653 ; text-align: justify; text-underline-offset:5px; ">
    <h1 class="display-8 text-center text-decoration-underline">Historique de l'<span class="fw-bold">UFR SET </span></h1>
    <p class="mt-4">
        L’UFR SET de l’Université de Thiès est créée par arrêté rectoral en Octobre 2007. C’est un établissement d’enseignement supérieur sous l’appellation d’Unité de Formation et de Recherche des Sciences et Technologies. Elle a été créée afin d’offrir une diversité des offres de formation dans le cadre de la nouvelle carte universitaire initiée par les autorités en 2004. L’UFR SET assure la formation des étudiants dans les domaines des Sciences et Technologies (Informatique, Mathématiques, Hydraulique, Physique Chimie, etc.). L’orientation de l’UFR SET vers l'enseignement et la formation dans le domaine des sciences et technologies va largement contribuer à la vulgarisation des STEM (Sciences, Techniques, Métiers de l’ingénieur et Mathématiques), qui constituent une des principales orientations du Gouvernement du Sénégal. C’est ainsi, qu’une proportion des étudiants sénégalais et étrangers diplômés de l’UFR travaille aujourd'hui comme cadres moyens dans les secteurs public et privé et dans certains organismes. Avec une organisation pédagogique articulée sur le système LMD, l'UFR SET répond aux objectifs de professionnalisation de la formation. Elle développe également des activités de transfert de technologies, de valorisation des connaissances issues de la recherche, d´appui à l'innovation et à la création d'entreprises, de diffusion de la culture scientifique et technique.
    </p>
    <a href="https://ufrset.univ-thies.sn/" target="_blank">
        <span class="d-inline-flex align-items-center">
            Cliquez ici pour en savoir plus sur l'UFR SET
            <svg width="17" height="17" fill="none" stroke="#2e4b6e" stroke-linecap="round" stroke-linejoin="round" stroke-width="2.5" viewBox="0 0 24 24">
                <path d="M11 7H6a2 2 0 0 0-2 2v9a2 2 0 0 0 2 2h9a2 2 0 0 0 2-2v-5"></path>
                <path d="M10 14 20 4"></path>
                <path d="M15 4h5v5"></path>
            </svg>
        </span>
    </a>.
</div>